<div class="card mt-4">
    <div class="card-header">{{pageTitle}}</div>
    <div class="card-body">
        <div class="row eqs-row">
            <div class="col-md-4 d-table p-0">
                <div class="form-group d-table-row">
                    <label class="d-table-cell">{{'EQS.projectName' | translate}}:</label>
                    <span class="lang-RB d-table-cell">{{facilityName.value}}</span>
                </div>
            </div>
            <div class="col-md-4 d-table p-0">
                <div class="form-group d-table-row">
                    <label class="d-table-cell">{{'EQS.licenseIssuanceEntiry' | translate}}:</label>
                    <span class="lang-RB d-table-cell">{{externalEntityLicenseNumber.value}}</span>
                </div>
            </div>
            <div class="col-md-4 d-table p-0">
                <div class="form-group d-table-row">
                    <label class="d-table-cell">{{'EQS.licenseNumber' | translate}}:</label>
                    <span class="lang-RB d-table-cell">{{licenceNo.value}}</span>
                </div>
            </div>
            <div class="col-md-4 d-table p-0">
                <div class="form-group d-table-row">
                    <label class="d-table-cell">{{'EQS.selectedApplicationNumber' | translate}}:</label>
                    <span class="lang-RB d-table-cell">{{applicationNumber.value}}</span>
                </div>
            </div>
            <div class="col-md-4 d-table p-0">
                <div class="form-group d-table-row">
                    <label class="d-table-cell">{{'Common.dueDate' | translate}}:</label>
                    <span class="lang-RB d-table-cell">{{dueDate.value | date: displayDateFormat }}</span>
                </div>
            </div>
            <div class="col-md-4 d-table p-0">
                <div class="form-group d-table-row">
                    <label class="d-table-cell">{{'Common.legacyApplicationNumber' | translate}}:</label>
                    <span class="lang-RB d-table-cell">{{legacyApplicationNumber.value}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-table p-0">
                <p-table [value]="applicationHistoryData" styleClass="lang-RR pTable" [paginator]="true"
                    [(first)]="first" [rows]="gridPageSize">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="serialNumberColumnWidth">
                                {{'Common.serialNumber' | translate}}
                            </th>
                            <th pSortableColumn="applicationNumber">{{'Common.applicationNumber' | translate}}
                                <p-sortIcon field="applicationNumber"></p-sortIcon>
                            </th>
                            <th pSortableColumn="subServiceName">{{'EQS.applicationType' | translate}}
                                <p-sortIcon field="subServiceName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="submittedOn">{{'EQS.submissionOn' | translate}}
                                <p-sortIcon field="submittedOn"></p-sortIcon>
                            </th>
                            <th pSortableColumn="status">{{'Common.status' | translate}}
                                <p-sortIcon field="status"></p-sortIcon>
                            </th>
                            <th>{{'ECO.latesttechreviewercomment' | translate}}</th>
                            <th class="serialNumberColumnWidth"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{rowData.applicationNumber}}</td>
                            <td>{{rowData.subServiceName}}</td>
                            <td>{{rowData.submittedOn | date: displayDateFormat}}</td>
                            <td>{{rowData.status}}</td>
                            <td><span class="pi-icons" (click)="getLatestExternalComment(rowData);">
                                    <i class="pi pi-eye" title="View"></i>
                                </span></td>
                            <td><span class="pi-icons" (click)="getApplicationHeader(rowData.eqsApplicationId);">
                                    <i class="pi pi-eye" title="View"></i>
                                </span></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="row mt-1">
            <p-tabView styleClass="tab-set" class="w-100" (onChange)="onTabViewChange($event);"
                [ngClass]="('lang'|translate) == 'en' ? 'ui-ltr' : 'ui-rtl'" [activeIndex]="deafultTabActiveIndex">
                <p-tabPanel header="{{'ECO.admin' | translate}}">
                    <eco-adminstrative-details *ngIf="eqsApplicationId" [eqsApplicationId]="eqsApplicationId">
                    </eco-adminstrative-details>
                </p-tabPanel>
                <p-tabPanel header="{{'ECO.uploadedDocuments' | translate}}">
                    <eco-uploaded-documents-details *ngIf="eqsApplicationId" [eqsApplicationId]="eqsApplicationId">
                    </eco-uploaded-documents-details>
                </p-tabPanel>
                <p-tabPanel header="{{'ECO.permitSection' | translate}}">
                    <eco-permit-section (getFacilitiesrDetails)="getFacilityDetails()" *ngIf="eqsApplicationId"
                        [eqsApplicationId]="eqsApplicationId">
                    </eco-permit-section>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <div class="col-md-12 d-flex">
        <diV class="col-md-1 home-image"><a href="javascript:void(0);" class="home-icon"><i class="pi pi-home"
                    (click)="backToDashboard();"></i></a></diV>
        <div class="col-md-10"></div>
        <div class="col-md-1 nav-icons">
            <a href="javascript:void(0);" (click)="goToPreviousTab();">
                <img class="m-1 w-40" src='./assets/images/prev.svg'></a>
            <a href="javascript:void(0);" (click)="goToNextTab();">
                <img class="m-1 w-40" src='./assets/images/next.svg'></a>
        </div>
    </div>
</div>
<p-dialog header="Comments" [(visible)]="displayLatestComentsdialog" [modal]="true"
    [style]="{width: '50vw','text-align': 'justify'}" styleClass="dialog-box" [draggable]="false">
    <form [formGroup]="viewTechReviewerCommentGroup">
        <div class="col-md-12 d-table m-bt-1 text-justify">
            <div class="d-table-row">
                <label class="d-table-cell">{{'Common.externalComments' | translate}} :</label>
                <span class="lang-RB d-table-cell">{{externalcomment.value}}</span>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <input class="button secondary-small mr-1" type="button" value="{{'Common.cancel' | translate}}"
                (click)="closeTechreviewercommentspopup();">
        </div>
    </form>
</p-dialog>
<div *ngIf="showLoader">
    <EAD-loader></EAD-loader>
</div>